__pycache__/
myapp/__pycache__/
static/chat_tmp/
.venv/
.idea
data/
log/

.env

# pytest-cov 覆盖率数据文件
.coverage
.coverage.*
htmlcov/
.pytest_cache/

.idea/dataSources.xml
migrations/versions/
migrations/__pycache__/
