<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <style>
        div.box {
            border: 1px solid red;
        }
    </style>
</head>

<body>
<button onclick="start()">开始</button>
<script>
    const wl = [
        {
            "uuid": "12fb4aed-59d7-4b0d-9188-c55c01f2a4e7",
            "name": "xinjin233"
        },
        {
            "uuid": "b83565e6-b0d0-4265-bb4f-fdb5e8d00655",
            "name": "tangsu99"
        },
        {
            "uuid": "efc1f804-528d-45e5-ad70-d9479514a79c",
            "name": "heweixiong"
        },
        {
            "uuid": "a2acb39d-5af5-4b2a-9fc3-1a797ce9f243",
            "name": "Bowen_Se"
        },
        {
            "uuid": "1f101309-e1e1-4ac4-98f4-e1ddd624a791",
            "name": "SHIDOFU"
        },
        {
            "uuid": "b20e029c-491f-4b0e-b08a-3366afb36b46",
            "name": "BusyPacket"
        },
        {
            "uuid": "3e390c72-47c7-47ac-88b5-ac5d163e0957",
            "name": "Dontfooim"
        },
        {
            "uuid": "59ac4047-06fc-4ac1-bb0d-ee8a11ad6dc5",
            "name": "FixedRecord3131"
        },
        {
            "uuid": "fe3071ac-fa6e-4931-a929-863e6ef8e3fe",
            "name": "Amrsky"
        },
        {
            "uuid": "cdd6a70d-ff86-478d-b565-0b4e13bb258d",
            "name": "Nakano_Miku_suki"
        },
        {
            "uuid": "20b7edfe-b4d4-4573-bfc8-73246c05efc3",
            "name": "MKHCJS"
        },
        {
            "uuid": "b7374a0a-cf07-43e7-9a7a-0e2cad64c9f9",
            "name": "Steve47876"
        },
        {
            "uuid": "49f31c70-9e4f-4731-b3f3-4d40eeea188c",
            "name": "JSIRSTUDIO"
        },
        {
            "uuid": "ff47729b-d0d2-4af0-98b1-1c0a7e1b0eef",
            "name": "matscan"
        },
        {
            "uuid": "327d7e36-af4a-4810-b787-d1879c4e2249",
            "name": "bulubulu233"
        },
        {
            "uuid": "fc3859bf-7f09-44c9-862e-540f18143784",
            "name": "tangsu999"
        },
        {
            "uuid": "d91eafdc-8e10-46e4-a03b-66015274ba48",
            "name": "Daocao1c8_sodium"
        },
        {
            "uuid": "dcdd86c2-43de-427b-a492-28a6716d2b87",
            "name": "Yixinmo"
        },
        {
            "uuid": "dea6045f-6959-476a-81d0-9abf810fce91",
            "name": "Pabaoovo"
        },
        {
            "uuid": "88c5076d-b529-46b3-9862-4d2f1603cf76",
            "name": "haridy"
        },
        {
            "uuid": "2178c2ae-3b58-4498-8125-32cfd0e9879d",
            "name": "3kxflying"
        },
        {
            "uuid": "f3caf9db-1f0e-4066-9bee-90139e124041",
            "name": "YamIpass"
        },
        {
            "uuid": "8c1e3cff-28ce-422a-b59c-011b1d4974cf",
            "name": "YuzurihaxInori"
        },
        {
            "uuid": "ee329175-ca02-42a8-9673-c3eb99878693",
            "name": "junqitianqi"
        },
        {
            "uuid": "2675d060-f4b9-4fa6-81a8-25d0426eb65f",
            "name": "Sakurashido"
        },
        {
            "uuid": "40f35dd7-fa07-4908-a5ab-45d3dc321240",
            "name": "Jiavirgo"
        },
        {
            "uuid": "af6e6163-c1bd-4b91-857a-3663fb54a8da",
            "name": "wumo_W"
        },
        {
            "uuid": "9c9a2174-8488-4983-812d-8908917b045e",
            "name": "Xuyi_e"
        },
        {
            "uuid": "7a32e5a5-5dc2-4b43-9ced-2ee75dc305db",
            "name": "Year_Box"
        },
        {
            "uuid": "3233cbbe-9c61-479c-942f-39ab466500fe",
            "name": "3aKJ"
        },
        {
            "uuid": "da417a84-a21f-4498-b2db-f2274ec542ce",
            "name": "bulubulu114514"
        },
        {
            "uuid": "d61e344a-a946-4093-bc8c-96418b10241f",
            "name": "Three_Six_"
        },
        {
            "uuid": "a8b4a7a1-2ccf-4305-97f4-a24f8348e418",
            "name": "liukblank"
        },
        {
            "uuid": "621a514a-2cb8-43ed-a822-31a49294e8b7",
            "name": "Briny_Salt"
        },
        {
            "uuid": "823ab8de-aa85-4b93-b00f-b5469f5ea4f5",
            "name": "Redstone_Xrre"
        },
        {
            "uuid": "cf6fa685-9a38-4362-8961-f8cb9eaa8885",
            "name": "Hanaoka_UZQueen"
        },
        {
            "uuid": "7a79434e-041e-4e18-90d9-5fb7c0aaba65",
            "name": "ICEredblock"
        },
        {
            "uuid": "4281473a-3aca-4f0c-9f9e-73dbacddeb17",
            "name": "Syrupy_Sugar"
        },
        {
            "uuid": "45645572-b2ba-44ed-997a-f218e9f29adb",
            "name": "Rain_ni"
        },
        {
            "uuid": "d4b9674f-a99b-4b34-b75d-d3383617576f",
            "name": "Aluan_CHANT"
        },
        {
            "uuid": "8876e2fd-437b-4a1a-be76-ff0629a63dea",
            "name": "Resources_King"
        },
        {
            "uuid": "096d0459-376f-472c-a2ec-07fb62525e6f",
            "name": "Fur1naDeFontaine"
        },
        {
            "uuid": "865ebf4e-ff44-46cf-90bb-9b7f0eba1460",
            "name": "FurinaDeFonta1ne"
        },
        {
            "uuid": "e40a7be8-051f-4599-becb-a30dfac94075",
            "name": "MuYan_"
        },
        {
            "uuid": "4cfe3310-5e98-4999-bc76-a55a7da5fe0b",
            "name": "TingBaiT"
        },
        {
            "uuid": "ee4a9694-838f-4870-9f05-1e1a9f64d9ce",
            "name": "Cocobeefsauce"
        },
        {
            "uuid": "9a972c31-dfae-46f8-8c41-4bdf27d44bb2",
            "name": "Hua_ShangShang"
        },
        {
            "uuid": "9d8bc5a3-3240-413e-89d9-5bc6e2ab8b3d",
            "name": "freebere"
        },
        {
            "uuid": "f1b32023-7457-4c33-8e07-a87429a821c9",
            "name": "craft6837"
        },
        {
            "uuid": "50f48665-b049-4c95-bb82-43725f73132f",
            "name": "zhouxinzhe"
        },
        {
            "uuid": "5da232e9-813d-42c5-ada6-e783db6a34d0",
            "name": "damberva"
        },
        {
            "uuid": "89dd3c3a-09c8-4d98-8f70-8ae028cac168",
            "name": "Lirrum"
        },
        {
            "uuid": "937adc1f-799f-483a-9235-a73eb195079b",
            "name": "Pururut"
        },
        {
            "uuid": "63cb2268-9d78-4446-b47e-0982a2e5e5d8",
            "name": "mikasa07224"
        },
        {
            "uuid": "adab122b-6ab9-406d-93ab-6efdf335241d",
            "name": "Chengbaise"
        },
        {
            "uuid": "ce0446e7-026b-45aa-a960-17d7297616fc",
            "name": "luoyue114514"
        }
    ]

    function start() {
        let obj = {"guaranteeQQ": "2560561868","playerQQ": "2560561868","playerName":"Da_Cheng_Zi","playerUUID":"a95fa8af-eda2-44c2-ac75-c70f85e660eb"}
        fetch('/guarantee/request', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            }
        ).then(function (res) {
            res.json()
        }).then(data => console.log(data))
        // for (let item of wl) {
        //     insert(item.name, item.uuid)
        // }
    }

    function insert(name, uuid) {
        fetch('/api/whitelistAdd', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name,
                    uuid,
                    'qq': '2560561868'
                })
            }
        )
    }
</script>
<div>
    <!-- <div class="box">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>标题</th>
                    <th>简介</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="">
            </tbody>
        </table>
        <script>
            fetch("/admin/AllQuestion")
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                    let temp = ''
                    for (let item of data) {
                        temp += `
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>`
                    }
                })

        </script>
    </div> -->
    <div class="box" id="page1">
        <form id="addSurvey">
            <h2>新建答卷</h2>
            <p>
                <label for="surveyname"></label>
                <input type="text" name="surveyname" id="surveyname">
            </p>
            <p>
                <label for="description"></label>
                <textarea name="description" id="description"></textarea>
            </p>
            <p>
                <button type="button" onclick="creatSurvey()">创建</button>
            </p>
        </form>
        <script>
            function creatSurvey() {
                let surveyname = document.getElementById('surveyname').value
                let description = document.getElementById('description').value
                fetch("/admin/addSurvey", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        surveyname,
                        description
                    })
                }).then(function (response) {
                    return response.json()
                }).then(function (data) {
                    console.log(data)
                })
            }
        </script>
    </div>
    <div class="box" id="page2">
        <form id="addQuestion">
            <h2>添加题目</h2>
            <p>
                <label for="survey"></label>
                <select type="text" name="survey" id="survey">
                    <option value="1">测试1</option>
                </select>
            </p>
            <p>
                <label for="single">单选</label>
                <input type="radio" id="single" name="type" value="1" checked>
                <label for="multiple">多选</label>
                <input type="radio" id="multiple" name="type" value="2">
                <label for="fillInThe">填空</label>
                <input type="radio" id="fillInThe" name="type" value="3">
                <label for="subjective">简答</label>
                <input type="radio" id="subjective" name="type" value="4">
            </p>
            <p>
                <label for="title">题目</label>
                <textarea name="title" id=""></textarea>
            </p>
            <p>
                <label for="options">选项</label>
            <div>
                <p></p>
            </div>
            </p>
            <p>
                <label for="score">分值</label>
                <input type="text" name="score">
            </p>
            <p>
                <button type="button">添加</button>
            </p>
        </form>
        <script>

        </script>
    </div>
</div>
</body>

</html>