<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>
<body>
    <div>
        <form action="/auth/login" method="post">
            <p>
                <label for="username">用户名</label>
                <input type="text" name="" id="username">
            </p>
            <p>
                <label for="password">密码</label>
                <input type="password" name="" id="password">
            </p>
            <p>
                <button type="submit">登录</button>
            </p>
        </form>
    </div>
</body>
</html>